body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

header {
  background: #005bbb;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}

.side-left, .side-right {
  width: 20%;
  padding: 15px;
  background: #fff;
  overflow-y: auto;
}

.main {
  width: 60%;
  padding: 20px;
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

#nomorSoal button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

#nomorSoal .answered {
  background: #58d68d;
  color: white;
}

#soalBox button {
  display: block;
  margin: 8px 0;
  padding: 10px;
  background: #eee;
  border: 1px solid #ccd;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 5px;
}

#soalBox button:hover {
  background: #ddd;
}

#mulaiBtn, #selesaiBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #005bbb;
  color: white;
  border: none;
  cursor: pointer;
}
